img{
    width:350px;
    height:350px;
    padding: 5px;   
    
}

body{
    font-family: cursive;
    font size:40px;  
    margin-left: 5px;
    margin-right: 5px;
}
h1{
    font font-style: italic;
}

h3{
    font-size: 30px;
    font-style: italic;
    text-align: center
}

#mycarousel img {
    margin-top: 50;
    height:600px;
}
    
.carousel-inner p {
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
    font-size: 20px;       
}
#mycarousel indicator{
    color: black
}
